.DS_Store

*.pyc

llamas_pyjamas/output/
llamas_pyjamas/Utils/logs/
llamas_pyjamas/Utils/logs/*.log
*mef.fits
llamas_pyjamas/mastercalib.zip
llamas_pyjamas/LUT/traceLUT_*.json
*traces.pkl


llamas_pyjamas/Bias/*.fits

# Sphinx documentation build output
docs/_build/
